<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="static/mystyle.css">
    <title>lights</title>
  </head>
  <body>

	<h1 class="title"><center>Lista das lâmpadas e estado: fazer botões</center></h1>
	<table class="table" width='100%' height='100%' align="center">
	<tr>
	{% for pin in pins %}
	{% if pins[pin].state == true %}
		<td><a href="/{{pin}}/off"><img src="https://drive.google.com/uc?id=0Bx3IoOwZWSzfZWVXa2dmRUJ3T0M3N0ZGaWRnQmpOVExWNXVV" width = '50%' align="center"/></a></td>
	{% else %}
		<td><a href="/{{pin}}/on"><img src="https://drive.google.com/uc?id=0Bx3IoOwZWSzfWDV4eXdJOTVPcEdsNEtlQ2ZWMFdmNXEydjJF" width = '50%' align="center"/></a></td>
	{% endif %}

	{% endfor %}
	</tr>
	<tr>
	{% for pin in pins %}
	{% if pins[pin].state == true %}
		<td>The {{ pins[pin].name }} is currently on</td>
	{% else %}
		<td>The {{ pins[pin].name }} is currently off </td>
	{% endif %}

	{% endfor %}
	</tr>
	</table>

	<p></p><p></p><p></p><p></p>
    <center><a href="/"><input type='button' value='HOME'/></a></center>

	</div>
  </body>
</html>
