{% extends "bootstrap/base.html" %}

{% block title %}Lâmpadas{% endblock %}

{% block content %}
<h1 class="title"><center>Lista das lâmpadas</center></h1>
<table class="table" width='60%' height='100%' align="center" >
<tr>
{% for pin in pins %}
{% if pins[pin].state == true %}
  <td><div align="center"><a href="/{{pin}}/off"><img src="https://drive.google.com/uc?id=0Bx3IoOwZWSzfZWVXa2dmRUJ3T0M3N0ZGaWRnQmpOVExWNXVV" style="margin-left=10px;" width = '60%' /></a></div></td>
{% else %}
  <td><div align="center"><a href="/{{pin}}/on"><img src="https://drive.google.com/uc?id=0Bx3IoOwZWSzfWDV4eXdJOTVPcEdsNEtlQ2ZWMFdmNXEydjJF" align="middle" width = '60%' /></a></div></td>
{% endif %}

{% endfor %}
</tr>
<tr>
{% for pin in pins %}
{% if pins[pin].state == true %}
  <td><center>The {{ pins[pin].name }} is currently on</center></td>
{% else %}
  <td><center>The {{ pins[pin].name }} is currently off</center></td>
{% endif %}

{% endfor %}
</tr>
</table>

<p></p><p></p><p></p><p></p>
  <center><a href="/"><input type='button' value='HOME'/></a></center>
{% endblock %}
